.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.w3-input {
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0 0 12px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 12px;
  }

.w3-btn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    padding: 12px;
    font-size: 12px;
    background: #2c8a00;;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 15px;
}

.form .message a {
    color:#2c8a00;
    text-decoration: none;
}

.form .register-form {
    display: none;
}


body {
    /*background: #68b854;*/
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}