language: node_js
node_js:
  - 10

dist: xenial

services:
  - mysql

addons:
  chrome: stable

before_install:
  - mysql -u root < database_files/database_create.sql

script:
- "cd ./code"
- "npm install"
- "npm test"