<!DOCTYPE html>
<html lang="en">

<head>
    <!-- pas de header pour cette page-->
    <link rel='stylesheet' href='css/w3.css'>
    <link rel='stylesheet' href='css/index.css'>
</head>

<body >


<div class="w3-container login-page">
    <div class="form w3-teal">
        <form class="w3-container register-form">
          <!--TODO-->
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        
        <form class="w3-container login-form">
            <label>First Name</label>
            <input class="w3-input w3-border w3-round" type="text">
                
            <label>Last Name</label>
            <input class="w3-input w3-border w3-round" type="text">

            <input class="w3-btn w3-margin-top w3-ripple" type="button" value="Log in">
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>



</body>
</html>
