<!DOCTYPE html>
<html lang="en">

<head>
    <% include  ./includes/header %>
    <script type="text/javascript">
        changeOnglet('projectManagement')
    </script>
</head>
            
<body >

    <form action="/deleteProject" method="POST">
        <input class="w3-btn w3-display-middle w3-padding w3-margin w3-ripple w3-red" type="submit" value="Delete Project">
    </form>

</body>
</html>