<!DOCTYPE html>
<html lang="en">

<head>
    <!-- pas de header pour cette page-->
    <link rel='stylesheet' href='css/w3.css'>
</head>

<body >
    <div class="w3-container w3-teal">
         <div class="w3-left-align w3-padding"><h2>SAF-SCRUM</h2></div>
         <div class="w3-display-topright"><a href="/logout" class="w3-button w3-teal w3-hover-green"><h2>logout</h2></a></div>
    </div>
    <div class="w3-display-middle">
    <table class="w3-table-all w3-hoverable w3-card-4">
        <tr class = "w3-blue">
            <th>Project Name</th>
            <th>Description</th>
            <th>Members</th>
        </tr>
        <% for (var i = 0; i < projects.length; ++i) { %>
        <tr >
            <td><%= projects[i]._project_name %></td>
            <td><%= projects[i].description %></td>
            <td><%= projects[i]._owner_name %></td>
        </tr>
        <% }; %>
        </table>
    </div>
</body>
</html>