<!DOCTYPE html>
<html lang="en">

<head>
    <!-- pas de header pour cette page-->
    <link rel='stylesheet' href='css/w3.css'>
    <link rel='stylesheet' href='css/index.css'>
</head>

<body >


<div class="w3-container login-page">
    <div class="form w3-teal">
        <form class="w3-container login-form" action="/" method="POST">
            <label>Email</label>
            <input class="w3-input w3-border w3-round" type="password" name="password">

            <label>Username</label>
            <input class="w3-input w3-border w3-round" type="text" name="username">
                
            <label>Password</label>
            <input class="w3-input w3-border w3-round" type="password" name="password">

            <input class="w3-btn w3-margin-top w3-ripple" type="submit" value="Sign in">
            <p class="message">Already registered? <a href="/index">Log in</a></p>
        </form>
    </div>
</div>



</body>
</html>