<!DOCTYPE html>
<html lang="en">

<head>
    <% include  ./includes/header %>
    <script type="text/javascript">
        changeOnglet('summary')
    </script>
</head>
            
<body >

    <% if(sprintsList){
            for (var i = 0; i < sprintsList.length; ++i){
                if(sprintPercentageList.get(sprintsList[i]._id)){%>
    <div class="w3-light-grey">
        <div class="w3-green" style="height:24px;width:<%=sprintPercentageList.get(sprintsList[i]._id)%>%"></div>
    </div>
    <%};};};%>


</body>
</html>