<meta charset="UTF-8">
<title>SAF-SCRUM</title>

<link rel='stylesheet' href='css/w3.css'>

<script type="text/javascript">
        function changeOnglet (name) {
                document.getElementById('onglet_' + name).className += ' w3-green'
        }
</script>

<div class="w3-container w3-teal">
        <h1>Projet</h1>
        <p>here is the list of workshop</p>
</div>

<div class="w3-bar w3-dark-grey">
        <a href="\summary" class="w3-bar-item w3-button w3-mobile" id="onglet_summary" style="width:16.5%" onclick="changeOnglet('summary')">Summary</a>
        <a href="\issues" class="w3-bar-item w3-button w3-mobile" id="onglet_issues" style="width:16.5%" onclick="changeOnglet('issues')">Issues</a>
        <a href="\tasks" class="w3-bar-item w3-button w3-mobile" id="onglet_tasks" style="width:16.5%" onclick="changeOnglet('tasks')">Tasks</a>
        <a href="\tests" class="w3-bar-item w3-button w3-mobile" id="onglet_tests" style="width:16.5%" onclick="changeOnglet('tests')">Tests</a>
        <a href="\sprints" class="w3-bar-item w3-button w3-mobile" id="onglet_sprints" style="width:16.5%" onclick="changeOnglet('sprints')">Sprints</a>
        <a href="\documentation" class="w3-bar-item w3-button w3-mobile" id="onglet_documentation" style="width:16.5%" onclick="changeOnglet('documentation')">Documentation</a>
</div>