<meta charset="UTF-8">
<title>SAF-SCRUM</title>

<link rel='stylesheet' href='w3.css'>

<div class="w3-container w3-teal">
        <h1>Projet</h1>
        <p>here is the list of workshop</p>
</div>

<div class="w3-bar w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button w3-mobile w3-green" style="width:16.5%">Summary</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile" style="width:16.5%">Issues</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile" style="width:16.5%">Tasks</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile" style="width:16.5%">Tests</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile" style="width:16.5%">Sprints</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile" style="width:16.5%">Documentation</a>
</div> 